html,
body {
    margin: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background: #fff;
    background: url(jakob-owens-208991.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 150vh;
    background-size: 90wv auto;



}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    margin: 0;
}

label {
    display: block;
}

input {
    display: inline;
}

.content {
    min-height: 900px;

}


.contentTitle {
    text-align: center;
    padding: 7em 0 0 0;
}

.contentTitle h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 3%;
    text-shadow: 1px 1px 1px #666;
}



.infoForm label {
    font-size: 15px;
    color: #fff;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.infoForm label i {
    font-size: 1em;
    margin-right: 10px;
    color: #fd6239;
}

.infoForm input[type="text"] {
    width: 100%;
    color: #9a9797;
    outline: none;
    font-size: 1.2em;
    line-height: 30px;
    padding: 3px 10px;
    border: 2px solid #fff;
    -webkit-appearance: none;
    margin-bottom: 1em;
    background: none;
    font-family: 'Open Sans', sans-serif;
}


.infoForm form input[type="submit"] {
    text-transform: capitalize;
    background: #fd6239;
    color: #FFFFFF;
    padding: .7em 2em;
    border: none;
    font-size: 1em;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    width: 30%;
    font-weight: 600;
    margin-top: 1.3em;
    -webkit-appearance: none;

    width: 50%;
    letter-spacing: 3px;
}

.infoForm {
    background: rgba(12, 12, 12, 0.68);
    padding: 15em 2em 7em 2em;
    width: 90%;
    margin: 3em auto 0;
    min-height: 100%;
}

.infoForm .location {
    margin-top: -13%
}

.infoForm .coordinates {
    margin-top: -13%
}

.infoForm p {
    color: #fff;
    font-size: 24px;

    letter-spacing: 3px;
    word-spacing: 7px;
    text-transform: uppercase;
}


.infoForm input[type=submit]:hover {
    background: rgba(253, 98, 57, 0.7);
    color: #fff;
}


.output {
    width: 90%;
    margin-left: 5.2em;


}

.weatherInfo {

    background: rgba(253, 98, 57, .6);
    padding: 2em 2em 2em 2em;
    margin: 1px;
    width: 49.8%;
    margin-top: 7.6%;
}

.weatherInfo h3 {
    padding: 1%
}

.weatherInfo h1 {
    margin-bottom: 1%
}

.displayInfo {
    padding-bottom: 3%;
    margin-bottom: 3%;
    height: 300px;

}

.displayInfoCol {
    background: rgba(225, 225, 225, .5);
    border: solid 1px rgba(0, 0, 0, 0.2);
    height: 350px;
    text-align: center;
    padding-bottom: 4%;
    margin-bottom: 2%;

}

.displayInfoCol p {
    font-size: 1.1em;
    padding: 1em 0 0 0;
    font-weight: 600;
    color: rgba(51, 51, 51, 0.8);
    text-align: center;
    ;


}

.displayInfoCol i {
    font-size: 4em;
    color: rgba(253, 98, 57, .7);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);


}

.fa-sun-o {
    margin-top: 30%;
    color: rgba(253, 98, 57, .9) !important;
}

.fa-align-justify {
    margin-top: 20%;
}

.lowClouds i {
    margin-top: 80%;

}

.displayInfoCol :nth-child(2) {
    text-align: center;


}

.cloudsTransparent i {
    color: rgba(253, 98, 57, .7);

}

.mediumClouds i {
    margin-top: 60%;
}

.highClouds i {
    color: rgba(253, 98, 57, .9);
    margin-top: 10%;
}

.output {
    display: none;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

}

.errorMesage {
    background: rgba(253, 98, 57, .6);
    height: 300px;
    width: 80%;
    text-align: center;
    font-size: 2em;
    margin-top: 5%;
}

.errMsg {
    background: rgba(253, 98, 57, .6);
    height: 150px;
    width: 80%;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}

.errMsg h1 {
    padding-top: 3%
}

.errMsg p {
    font-size: .6em
}
